.bg-pattern {
    background-image:
        linear-gradient(to bottom,
        rgba(240, 240, 240, 0.475) 40%, /* Azul pastel más intenso */
        rgba(240, 240, 240, 0.475) 50%),
        url('../assets/images/fondo_home2.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dark .bg-pattern {
    background-image:
        linear-gradient(to bottom,
        rgba(46, 46, 46, 0.475) 60%, /* Gris oscuro suave */
        rgba(46, 46, 46, 0.475) 80%),
        url('../assets/images/fondo_home.jpeg');
}

.logo {
    /* Establece un ancho fijo para el logo */
    width: 40px; 
    /* Establece la altura máxima para que no sobrepase la barra */
    height: auto; 
    /* Margen a la derecha si necesitas separarlo del siguiente elemento */
    margin-right: 20px; 
}